
body{
  
  display: flex;
  justify-content: center;
}
main{
   
  background-color: beige; 
  height: 550px;
  width: 600px;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;  
   
 
}
.btn{
  background-color: lightseagreen; ; 
  border: none; 
  width: 150px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 225px;
  margin-top: 300px;
  font-size: larger;
  font-weight: 900;
  color: white;
}
h1{
  margin-left: 240px;
}
.instructions{
  width: 400px;
  margin-left: 100px;
 text-align: center;
}
.count{
  height: 25px;
  width: 150px;
  background-color: lightpink;
  border-radius: 10px;
  margin-left: 211px;
  color: white; 
  font-size:medium;
  font-weight: 900;
  padding: 12px;
  text-align: center;
  

}